<html>

<head>
    <title>
        <%= locals.title %>
    </title>
    <script src="https://kit.fontawesome.com/cf11f5142a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="page-heading">
        <i class="fa-solid fa-address-book"></i>
        My Contacts List
    </h1>

    <div>
        <ul>
            <% for (let i of contact_list) { %>
                <li class="container">
                    <div class="content" style="display: flex; justify-content: space-between; padding: 0px 5px;">
                        <p class="item">
                            <%= i.name %>
                        </p>
                        <p class="item">
                            <%= i.phone %>
                        </p>
                        <div class="delete-button">
                            <a href="">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <% } %>
        </ul>
        <div class="container">
            <form action="/create-contact" , method="post" required="true">
                <input type="text" , name="name" , placeholder="Enter Name" , required="true">
                <input type="number" , name="phone" , placeholder="Enter phone" , required="true">

                <button type="submit" ;
                    style="background-color: slategray; padding: 4px 12px; font-size: 10px; color: white; border-radius: 4px;">
                    Add
                </button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>